<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('./partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <main class ="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center" >
        <section>
            <h1 class ="display-1">About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quasi facere, obcaecati rerum cumque explicabo repellat officiis voluptatum natus ratione odit repellendus, ipsum eos. Expedita unde ullam tenetur libero iusto itaque? Ducimus saepe aspernatur eius odio. Quia voluptatem laboriosam eligendi ea nulla veniam exercitationem illum laudantium delectus, ullam expedita placeat temporibus eaque voluptas alias doloremque corporis sed amet aliquam ipsum. Nihil corporis eaque, sit temporibus enim molestias quia, aut eveniet consequatur neque voluptatum quam! Ut voluptatum nobis itaque alias ea vero labore. Minima dolorum accusantium, natus cum labore possimus ut sint impedit vero? Obcaecati commodi, porro, quasi nam dicta odit cumque recusandae rerum quod, id dignissimos delectus assumenda ratione quo. Recusandae harum voluptatibus ipsam officiis distinctio in unde fuga illo. Cumque quis architecto hic dolorem delectus soluta minima vero, tempore omnis rerum adipisci voluptatum ipsa nostrum, numquam doloremque iure inventore sequi blanditiis, amet consectetur commodi. Exercitationem eius tenetur porro ipsam. Doloribus, odit excepturi, neque ducimus at ipsam odio beatae ullam earum quam dolore aliquam dolorum? At eum et deleniti obcaecati natus, ipsa architecto quos nulla quibusdam perferendis ad illo iste inventore aliquid ut laborum aut mollitia. 
            </p>
        </section>
    </main>    
    <%- include ('partials/footer.ejs') %>
</body>
</html>